extends layout

block content
  h1 Express 4 Auth
  p Welcome Admin! 
    a(href="/logout") Logout
  style.
    .control-label {
        text-align: right;
        padding-top: 7px;
        margin-top: 0;
        margin-bottom: 0;    
    }
